body
{
    background-color: #7caddb;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1
{
    background-color: #0e205cf2;
    text-align: center;
    color: aliceblue;
    padding: 20px; 
    margin: 20px;
}
form
{
    padding: 10px;
    margin: 10px;
}
.form label{
    line-height: 1.8;
    color: #eee;
    background-color: #0e205cf2;
    box-shadow: 2px 3px 5px #eee, 3px 4px 8px #eee;
    width:max-content ;
    border-radius: 5px;
    padding: 10px; 
    margin: 0;
}

table
{
    width: 700px;
    border-radius: 40px 2px 40px 2px;
    background-color: #557491;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
table tr td label
{
    font-weight: bold;
    margin: 5px;
}
table tr td input
{
    font-weight: bold;
    color: #0e205cf2;
    height: 20px;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid #eee;
}
table tr td textarea
{
    font-weight: bold;
    color: #0e205cf2;
    margin: 3px;
    border-radius: 5px;
    border: 1px solid #eee;
}

input[type="submit"]
{
    height: max-content;
    width: max-content;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    color: #eee;
    margin-left: 45%;
    border: 1px solid #fff;
    background-color: #0e205cf2;
}

